*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.coder{
    margin-left: 40px;
}
header{
    width: 100%;
    height:47px;
    background-color: grey;    
    border-bottom-style: solid;
}
.navtext{
    color: white;
}
.jumbo{
    top: 50%;
    width: 100%;
    height: 100px;
    text-align: center;
    align-items: center;    
    border-bottom-style: solid;
    margin: auto;
    background-color: lightblue;
    color: white;
}
h1{
    text-align: center;
    font-size: 70px;
}
body{
    background-color: grey;
}
h2{
    margin-top: 240px;
    text-align: center;
    font-size: 70px;
    color: white;
    border-bottom-style: double ;
}
.myPhoto{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 95px;
    border-style: solid;
    border-color: white;
    border-width: 4px;
}
section{
    color: white;
    font-size: 25px;
    width: fit-content;
    text-align: left;
    background-color: lightblue;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}
figure{
    display: inline-block;
    
}
.proj{
    border-style: solid;
    border-color: black;
    border-width: 4px;
}
figcaption{
    color: white;
    border-style: solid;
    border-color: black;    
    border-width: 2px;
    background-color: lightblue;
}
.res{
    border-style: solid;
    border-color: black;    
    border-width: 2px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 95px;
    border-style: solid;
    border-color: white;
    border-width: 4px;
}
.myUL{
    text-align: center;
    color: white;
    display: inline;
}
.myList{
    color: white;
    font-size: 40px;
}
@media screen and (max-width: 1106px) {
    h1{
      font-size: 60px;
    }
  }
  @media screen and (max-width: 958px) {
    h1{
      font-size: 50px;
    }
  }
  @media screen and (max-width: 589px) {
    h1{
      font-size: 40px;
    }
    .proj{
        width: 400px;
        height:400px
    }
  }
  @media screen and (max-width: 400px) {
    .navtext{
      font-size: 12px;
    }
    .proj{
        width: 250px;
        height:250px
    }
  }
  @media screen and (max-width: 326px) {
    .navtext{
      font-size: 8px;
    }
    h1{
        font-size:30px;
    }
  }
  @media screen and (max-width: 648px) {
    .myPhoto{
        width: 250px;
        height: 250px;
    }
    section{
        font-size: 20px;
    }
  }
  @media screen and (max-width: 700px) {
    .res{
        width: 500px;
        height: 500px;
    }
  }
  @media screen and (max-width: 500px) {
    .res{
        width: 250px;
        height: 250px;
    }
  }
  @media screen and (max-width: 730px) {
    .myList{
        font-size:30px;
    }
  }
  @media screen and (max-width: 535px) {
    .myList{
        font-size:25px;
    }
  }
  @media screen and (max-width: 459px) {
    .myList{
        font-size:15px;
    }
  }
  